/* Style inspiration and settings adapted from https://github.com/jgthms/web-design-in-4-minutes*/

/* Base */
html {
  font-size: 16px;
}

/* 01 Font family */

body {
  font-family: "Courier New", "Helvetica", sans-serif;
}

/* 03 Spacing */


.padded {
  padding-top: 30px;
  padding-bottom: 30px;
  line-height: 30px;
}

.main-content {
  padding-top: 30px;
  padding-bottom: 30px;
  line-height: 30px;
  margin-bottom: 5em;
}

.main-content p {
  margin-bottom: 15px;
}

.main-content img {
  max-width: 50%;
  float: right;
  margin-left: 3em;
  clear: right; /* Added clear: left */
}

.main-content p:after {
  content: "";
  display: table;
  /*clear: both; */
}


div.main-content h2 {
  padding-top: 15px;
  padding-bottom: 5px;
}

header h1, h5 {
  display: inline;
}

/* 04 Color and contrast */

body {
  color: #c5ccce;
  background-color: #282f3a;
  margin-bottom:  5em;
}

h1,
h2,
strong {
  color: #dcdede;
}

header h5 {
  font-weight: lighter;
}

/* 05 Balance */

code {
  padding: 2px 4px;
  vertical-align: text-bottom;
}

/* 06 Primary color */

a {
  color: #7e92a2;
}

/* 07 Secondary colors */

h1,
h2,
strong {
  font-weight: 500;
}

/* Hamalert image */
.image-container {
  width: 400px; /* Set the desired width */
  height: 150px; /* Set the desired height */
  overflow: hidden; /* Hide the content that exceeds the container dimensions */
  position: relative; /* Establsh positioning context for absolute positioning */
  background-color: #282f3a;
  float: right;
  margin-left: 300em;
  clear: right; /* Added clear: left */
}

.image-container img {
  position: absolute; /* Position the image absolutely */
  clip: rect(40px, 400px, 100px, 45px); /* Define the cropping area */
  mix-blend-mode: screen;
  filter: invert(1) brightness(2); /* Invert the colors */
  max-width: none; /* Prevent the image from scaling beyond its original size */
}

